<launch>
    <arg name="img_flip" default="false"/>
    <arg name="VideoSwitch" default="false"/>
    <arg name="lidar_type" value="$(env RPLIDAR_TYPE)" doc="lidar_type [a1,4ROS]"/>
    <group if="$(eval arg('lidar_type') == '4ROS')" >
    <node name="LineDetect" pkg="yahboomcar_linefollw" type="follow_line_4ROS.py" output="screen" required="true" >
        <param name="img_flip" type="bool" value="$(arg img_flip)"/>
        <param name="VideoSwitch" type="bool" value="$(arg VideoSwitch)"/>
        <remap from="/usb_cam/image_raw/compressed" to="/usb_cam/image_raw/compressed"/>
    </node>
    </group>
    
    <group if="$(eval arg('lidar_type') == 'a1')" >
    <node name="LineDetect" pkg="yahboomcar_linefollw" type="follow_line_a1.py" output="screen" required="true" >
        <param name="img_flip" type="bool" value="$(arg img_flip)"/>
        <param name="VideoSwitch" type="bool" value="$(arg VideoSwitch)"/>
        <remap from="/usb_cam/image_raw/compressed" to="/usb_cam/image_raw/compressed"/>
    </node>
    </group>

</launch>
