<launch>
    <!-- 设置当前机器人命名空间 -->
    <arg name="ns" default="robot1"/>
    <arg name="robot_type" value="$(env ROBOT_TYPE)" doc="robot_type [X1,X3,X3plus,R2,X7]"/>
    <arg name="nav_use_rotvel" default="true"/>
    <arg name="lidar_type" value="$(env RPLIDAR_TYPE)" doc="lidar_type [a1,4ROS]"/>
    <group ns="$(arg ns)">
        <include file="$(find rplidar_ros)/launch/rplidar.launch" if="$(eval arg('lidar_type') == 'a1')">
            <arg name="frame_id" default="$(arg ns)/laser"/>
        </include>
        <include file="$(find ydlidar_ros_driver)/launch/TG.launch" if="$(eval arg('lidar_type') == '4ROS')">
            <arg name="frame_id" default="$(arg ns)/laser"/>
        </include>
        <!-- 激光雷达的坐标系 || Lidar coordinate system-->
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
              args="0.0435 5.258E-05 0.11 6.28 0 0  $(arg ns)/base_link $(arg ns)/laser 30" if="$(eval arg('robot_type') == 'R2')"/>
    </group>
    <include file="$(find yahboomcar_multi)/launch/library/bringup_multi.launch">
        <arg name="ns" default="$(arg ns)"/>
        <arg name="nav_use_rotvel" value="$(arg nav_use_rotvel)"/>
    </include>
</launch>
